<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.w3.org/2005/Atom">
<head>
    <meta charset="UTF-8"/>
    <title tiles:fragment="title">新建申请单</title>

    <link rel="stylesheet" type="text/css" href="../../../resources//css/titleNav.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/myCSS/myDivBt.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/myCSS/myTable.css"/>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .result {
            width: 800px;
            margin: 20px auto;
        }
    </style>
</head>
<body>
<div tiles:fragment="content" class="content">
    <div class="title">
        <div class="title1">新建申请单></div>
    </div>
    <!--<div>-->
    <!--申请单编号：XXX-->
    <!--</div>-->
    <div class="myDivBt">
        <a href="/apply/add/additem" th:method="get">添加物品</a>
    </div>
    <div class="result">
        <table class="myTable" border="1">
            <tr>
                <th>物品条形码</th>
                <th>物品名称</th>
                <th>数量</th>
                <th>备注</th>
            </tr>
            <!--/*@thymesVar id="apply_form" type="com.repository.web.apply.add.AddapplyController.ApplyForm"*/-->
            <tr th:if="${apply_form == null || apply_form.items.isEmpty()}">
                <td colspan="4">申请单中没有物品，请添加</td>
            </tr>
            <tr th:each="item : ${apply_form.getItems()}">
                <td th:text="${item.getItemCode()}"></td>
                <td th:text="${item.getItemName()}"></td>
                <td th:text="${item.getItemCount()}"></td>
                <td th:text="${item.getOthers()}"></td>
            </tr>
        </table>
        <div>
            <div class="myDivBt"><a href="../history.html" onclick="alert('系统正忙')">提交订单</a></div>
            <div class="myDivBt"><a href="../history.html">取消订单</a></div>
        </div>
    </div>
</div>
</body>
</html>