.content {
    padding: 85px;
}

.content-nav {
    height: 3em;
}

.content-function{
    float: right;
    height: 3em;
}

.content-query {
    min-width: 70em;
    margin: auto;
    text-align: center;
}

.content-result {
    float: right;
    width: 65em;
    margin: auto;
}

