.content-nav {
    position: absolute;
    top: 4.5em;
    left: 0;
    z-index: 1;
}

.content-function {
    height: 3em;
}

.content-query {
    margin-top: 1em;
    width: 65em;
    height: 3em;
}

.content-query-left {
    float: left;
    text-align: left;
}

.content-query-right {
    float: right;
    text-align: right;
}

.content-info {
    width: 65em;
    margin-top: 5em;
}

.content-result {
    margin-top: 1em;
    width: 65em;
}

.content-result-operation div {
    margin: 0.5em 0 0 1em;
}

.content-left {
    position: absolute;
    top: 0;
    width: 13em;
    height: 100%;
    background: rgb(250, 250, 250);
}

.content-right {
    position: relative;
    top:0;
    left: 13em;
    width: 50em;
    min-height: 36em;
    padding: 2em 1em;
    background: white;
}

.slide-panel{
    display: none;
}

#applyQuery input{
    width: 6em;
}





