.content{
    padding: 85px;
}
.content .query{
    min-width: 70em;
    margin: auto;
    text-align: center;
}
.content .result{
    width: 65em;
    margin: 2em auto;
}

.content .info {
    padding-left: 10em;
}