.content {
    padding: 4em;
    width: 65em;
    margin: auto;
}

.content-nav {
    position: absolute;
    top: 4em;
    left: 0;
    z-index: 1;
}

.content-function {
    float: right;
    height: 3em;
}

.content-query {
    width: 65em;
    height: 3em;
}

.content-query-left {
    float: left;
    text-align: left;
}

.content-query-right {
    float: right;
    text-align: right;
}

.content-result {
    width: 65em;
}

