.effect1{
    box-shadow: 0px 15px 10px -10px #717171;
}
.effect2{
    position: relative;
}
.effect2::before,.effect2:after
{
    z-index: -1;
    position: absolute;
    content: '';
    width: 50%;
    max-width: 300px;
    bottom: 25px;
    top:80%;
    left: 10px;
    transform: rotate(-3deg);
    box-shadow: 0 25px 15px #4d4d4d;
}
.effect2:after{
    right: 10px;
    left: auto;
    transform: rotate(3deg);
}

.effect3{
    position: relative;
}
.effect3::before{
    z-index: -1;
    position: absolute;
    content: '';
    left: 10px;
    right: 10px;
    height: 100%;
    border-radius: 50% / 10%;
    background-color: black;
    box-shadow: 0 0 20px #4d4d4d;
}
.effect4{
    position: relative;
}
.effect4::before{
    content: '';
    position: absolute;
    z-index: -1;
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    box-shadow:0 5px 20px rgb(77, 77, 77);
    border-radius:50% / 20px;
}

.effect5 {
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect5:after
{
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.64);
    top:0;
    bottom: 0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
}
.effect6{
    position: relative;
}

.effect6::before,.effect6::after{
    content: '';
    position: absolute;
    z-index: -1;
    left: 10px;
    width: 40%;
    max-width: 300px;
    top:50%;
    bottom:15px;
    transform: skew(0deg,-3deg);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.51);
}