/*layout*/

#load {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.51);
    display: none;
}

#loadGif {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 50px; /*TODO*/
}

#footer {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 2em;
    bottom: 0;
    background: #333333;
}

/*返回顶部*/
#back_top{
    z-index: 500;
    position: fixed;
    overflow: hidden;
    bottom: 20%;
    right: 12%;
    width: 3em;
    height: 3em;
    border-radius: 10% ;
    box-shadow: 0 0 5px;
    background: #ffffff;
    transition: background 0.5s;
}
#back_top:hover{
    background: #1abc9c;
}

#back_top::before,#back_top::after{
    content: '';
    position: absolute;
    display: block;
    width: 40%;
    height: 40%;

    left: 0;
    right: 0;
    margin: auto;

    box-shadow: -0.1em -0.1em 0.1em;
    transform: rotate(45deg);
    transition: bottom 0.5s ease-out,box-shadow 0.5s ease-out;
}
#back_top::before{
    bottom: 10%;
}
#back_top:hover::before{
    bottom: 150%;
    box-shadow: -0.2em -0.2em 0 #ffffff;
}
#back_top::after{
    bottom: -100%;
}
#back_top:hover::after{
    bottom: 10%;
    box-shadow: -0.2em -0.2em 0 #ffffff;

}


/*页面内容*/
.content {
    padding: 5em;
    width: 65em;
    min-height: 45em;
    margin: auto;
}

.content::after{
    content: " ";
    display: block;
    clear: both;
}

.current, .next {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: rgb(245, 245, 245);
}

.current {
    z-index: 100;
    opacity: 1;
}

.next {
    z-index: 99;
}



