.background {
    position: fixed;
    z-index: -1;
    background: #1abc9c;
    width: 100%;
    height: 100em;
}

.background-content {
    padding: 5em;
    width: 65em;
    margin: auto;
    background: #f5f5f5;
    height: inherit;
}

#topdiv {
    position: fixed;
    z-index: 900;
    width: 100em;
    height: 100em;
    background-color: rgba(0, 0, 0, 0.51);
    display: none;
}

#loading {
    position: relative;
    width: 32px;
    height: 32px;
}

#header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 50px;
}

#body {
    position: relative;
    z-index: 0;
    width: 100%;
}

#footer {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 2em;
    bottom: 0;
    background: #333333;
}

/*页面切换*/
.currentPage {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    transform-origin: 50% 50% -30em;
    transform: perspective(50em) translateZ(-30em) rotateX(0deg);

}

.currentPageAfter {
    transform: perspective(50em) translateZ(-30em) rotateX(180deg);
    z-index: -1;
    transition: all 5s;
}

.nextPage {
    position: absolute;
    z-index: -1;
    width: 100%;
    background: #1abc9c;
    overflow: hidden;
    display: block;
    transform-origin: 50% 50% -30em;
    transform: perspective(50em) translateZ(-30em) rotateX(180deg);

}

.nextPageAfter {
    transform: perspective(50em) translateZ(-30em) rotateX(360deg);
    z-index: 100;
    transition: all 5s;
}



