.background {
    position: fixed;
    z-index: -1;
    background: #1abc9c;
    width: 100%;
    height: 100em;
}

#topdiv {
    position: fixed;
    z-index: 900;
    width: 100em;
    height: 100em;
    background-color: rgba(0, 0, 0, 0.51);
    display: none;
}

#loading {
    position: relative;
    width: 32px;
    height: 32px;
}

#header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 50px;
}

#body {
    position: relative;
    z-index: 0;
    width: 100%;
}

#footer {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 2em;
    bottom: 0;
    background: #333333;
}

.content {
    padding: 5em;
    width: 65em;
    min-height: 40em;
    margin: auto;
    background: white;
}

/*页面切换*/
.current, .next {
    position: absolute;
    width: 100%;
    background: rgb(26, 188, 156);
}

.current {
    z-index: 100;
    opacity: 1;
}

.next {
    z-index: 99;
}



