@import "init.css";
@import "layout.css";
@import "navBar.css";
@import "myInput.css";
@import "icon-demo.css";

.myInput input[type="button"] {
    color: white;
}

.myInput input[type="text"], input[type="password"] {
    width: 20em;
    height: 3.0em;
    border-radius: 0.5em;
    background: #ffffff;
}

body {
    min-width: 65em;
    min-height: 36em;
}

.login-background {
    position: absolute;
    z-index: -1;
    width: 100%;
    min-width: 65em;
    height: 100%;
    min-height: 36em;
}

.login-title {
    position: absolute;
    font-size: 3em;
    top: 2em;
}

div.login {
    position: absolute;
    top: 20em;
    right: 20em;
    width: 22em;
    height: 16em;
    line-height: 4em;
    text-align: center;
}

.login .name, .password {
    position: relative;
    margin: 2em 0;
    line-height: 3em;
}

.login input:focus + .icon-after-user {
    color: #1abc9c;
}

.login input:focus + .icon-after-lock {
    color: #1abc9c;
}

.icon-after-user, .icon-after-lock {
    position: absolute;
    right: 1em;
    top: 0;
    transition: color 0.3s;
}

