.myInfoList li {
    height: 4em;
    width: 30em;
    list-style: none;
    line-height: 4em;
    text-align: center;
}

.myInfoList .name {
    float: left;
    height: 4em;
    width: 10em;
    line-height: 4em;
    text-align: right;
}

.myInfoList .value {
    float: left;
    height: 4em;
    width: 12em;
    line-height: 4em;
    margin-left: 3em;
}