.myTable table{
    table-layout: fixed;
    width: 65em;
    border-collapse: collapse;
}

.myTable tr {
    height: 2.7em;
}

.myTable tr:nth-child(2n) {
    background: rgb(249, 249, 249);
    /*background-color: rgb(26, 188, 156);*/
}

.myTable tr:nth-child(2n+1) {
    background: rgba(249, 249, 249, 0);
}

.myTable td, th {
    text-align: center;
}

.myTable th {
    color: #f4f4f4;
    font-size: 1.1em;
    font-weight: normal;
    background: #16A085;
}