table.myTable {
    table-layout: fixed;
    width: 65em;
    border-collapse: collapse;
}

table.myTable tr {
    height: 3em;
}

table.myTable tr:nth-child(2n) {
    background: #d2d2d2;
}

table.myTable tr:nth-child(2n+1) {
    background: #c1c1c1;
}

table.myTable td, th {
    text-align: center;
}

table.myTable th {
    font-size: 1.1em;
    background: #28a87f;
}