.navBar {
    height: 50px;
    background: #212121;
}

.navBar a {
    color: #d4d4d4;
    text-decoration: none;
    display: block;
    padding: 15px;
    line-height: 20px;
    transition: color 0.2s ease-in;
}
.navBar-title:hover a{
    color: #19ac7f;
}
.navBar li:hover>a{
    color: #19ac7f;
}

@media (max-width: 767px) {
    .navBar-container {
        min-width: 700px;
    }
}

@media (min-width: 768px) {
    .navBar-container {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .navBar-container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .navBar-container {
        max-width: 1170px;
    }
}

.navBar-container {
    height: 50px;
    padding: 0 15px;
    margin: auto;
}

.navBar-title {
    float: left;
}

.navBar-title > a {
    font-size: 18px;
}

.nav {
    list-style: none;
}

.nav > li {
    position: relative;
    display: block;
    float: left;
}

.nav > li > a {
    font-size: 14px;
}

.navBar-content {
    float: left;
}

.navBar-user {
    float: right;
}



.arrow {
    display: block;
    position: absolute;
    right: 0;
    top: 21px;
    border: 6px solid rgba(0, 0, 0, 0);
    border-top: 10px solid #7d7d7d;
    width: 0;
    height: 0;
    transform-origin: 6px 4px;
    transition: all 0.5s;
}

.nav li:hover .arrow {
    border-top: 10px solid #19ac7f;
    transform: rotate(180deg);
}

.nav dl {
    position: absolute;
    top: 50px;
    left: -30px;
    right: -30px;
    max-height: 0;
    padding: 0 5px;
    border-radius: 6px;
    box-shadow: 2px 2px 3px #34495e;
    /*background: rgba(0, 0, 0, 0.84);*/
    background: #34495e;
    overflow: hidden;
    transition: all 0.5s;
}

.nav li:hover dl {
    max-height: 250px;
    padding: 10px 5px;
}

.nav dd {
    position: relative;
    width: 100%;
    height: 35px;
    border-radius: 4px;
    transition: background 0.5s ease-in;
}

.nav dd:hover {
    background: #717171;
}

.nav dd>a{
    font-size: 13px;
    line-height: 15px;
    padding: 10px;
    color: #ececec;
    transition: all 0.3s ;
}
.nav dd:hover>a{
    color: #19ac7f;
    padding-left: 15px;
}
