.titleNav {
    width: 100%;
    min-width: 70em;
    height: 3em;
    margin-bottom: 1em;
    background: #c8c8c8;
}
.titleNav .title1{
    font-size: 2em;
    float: left;
    margin-top: 0.2em;
    margin-left: 0.5em;
}
.titleNav .title2{
    font-size: 1.8em;
    float: left;
    margin-top: 0.3em;
}
.titleNav .title3{
    font-size: 1.6em;
    float: left;
    margin-top: 0.5em;
}