.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
out/

### STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
lib
.DS_STORE
*/.DS_STORE
*/*/.DS_STORE
*/*/*/.DS_STORE
*/*/*/*/.DS_STORE
*/*/*/*/*/.DS_STORE

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
target/
#build.gradle
#gradle/
#settings.gradle
#src/test/resources/
