<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.w3.org/2005/Atom">
<head>
    <meta charset="UTF-8"/>
    <title>header</title>
    <link type="text/css" rel="stylesheet" href="../../../resources/myCSS/navBar.css"/>
    <link type="text/css" rel="stylesheet" href="../../../resources/myCSS/init.css"/>
</head>
<body>
<div  th:fragment="navBar" class="navBar">
    <div class="navBar-container">
        <div class="navBar-title">
            <a>title</a>
        </div>
        <div class="navBar-content">
            <nav>
                <ul class="nav">
                    <li th:classappend="${page == 'home' ? 'active' : ''}"><a href="#" th:href="@{/query}">查询</a></li>
                    <li th:classappend="${page == 'messages' ? 'active' : ''}"><a href="#" th:href="@{/storage}">入库</a></li>
                    <li th:classappend="${page == 'tasks' ? 'active' : ''}"><a href="#" th:href="@{/storage}">申请</a></li>
                    <li th:classappend="${page == 'tasks' ? 'active' : ''}"><a href="#" th:href="@{/storage}">借用</a></li>
                    <li th:classappend="${page == 'tasks' ? 'active' : ''}">
                        <a href="#" th:href="@{/storage}">日志</a>
                        <span class="arrow"></span>
                        <dl>
                            <dd><a href="#">111</a></dd>
                            <dd><a href="#">222</a></dd>
                            <dd><a href="#">333</a></dd>
                            <dd><a href="#">444</a></dd>
                        </dl>
                    </li>
                    <li th:classappend="${page == 'tasks' ? 'active' : ''}">
                        <a href="#" th:href="@{/storage}">消息</a>
                        <span class="arrow"></span>
                        <dl>
                            <dd><a href="#">待审核消息</a></dd>
                            <dd><a href="#">通知领取消息</a></dd>
                            <dd><a href="#">分配消息</a></dd>
                            <dd><a href="#">归还提醒消息</a></dd>
                            <dd><a href="#">库存提醒消息</a></dd>
                        </dl>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="navBar-user">
            <ul class="nav">
                <!--<li th:if="${#authorization.expression('!isAuthenticated()')}"><a href="/signin" th:href="@{/signin}">Sign in</a></li>-->
                <!--<li th:if="${#authorization.expression('isAuthenticated()')}"><a href="/logout" th:href="@{/logout}">Logout</a></li>-->
                <li ><!--/*@thymesVar id="user" type="com.repertory.bean.UsersEntity"*/-->
                <a href="/logout" th:if="${session.user!= null}" th:href="@{/logout}" th:text="${session.user.usersName}">小明</a></li>
                <li ><a href="/logout" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>