<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>header</title>

    <link href="../../../resources/css/all.css" rel="stylesheet" type="text/css"/>
    <script src="../../../resources/js/main.js"></script>
</head>

<body>
<div class="navBar" th:fragment="navBar">
    <div class="navBar-container">
        <div class="navBar-title">
            <a href="#">WMS</a>
        </div>
        <div class="navBar-content">
            <nav>
                <ul class="nav">
                    <li th:classappend="${page == 'home' ? 'active' : ''}">
                        <a href="#" th:href="@{/query}">查询</a>
                    </li>
                    <li th:classappend="${page == 'messages' ? 'active' : ''}" sec:authentication="ROLE_ADMIN">
                        <a href="#" th:href="@{/storage}">入库</a>
                    </li>
                    <li th:classappend="${page == 'tasks' ? 'active' : ''}">
                        <a href="#" th:href="@{/apply}">申请</a>
                        <!--onclick="jumpTo('applyajax')"-->
                    </li>
                    <!--<li th:classappend="${page == 'tasks' ? 'active' : ''}">-->
                        <!--<a href="#" th:href="@{/borrow}">借用</a>-->
                    <!--</li>-->
                    <li th:classappend="${page == 'tasks' ? 'active' : ''}">
                        <a href="#" th:href="@{/message}">消息</a>
                        <!--<span class="arrow"></span>-->
                        <!--<dl>-->
                            <!--<dd><a href="#" th:href="@{/message}">我的消息</a></dd>-->
                        <!--</dl>-->
                    </li>
                    <li th:classappend="${page == 'tasks' ? 'active' : ''}" sec:authorize="hasRole('ROLE_USER')">
                        <a href="#" th:href="@{/log}">日志</a>
                        <!--<span class="arrow"></span>
                        <dl>
                            <dd><a href="#">系统日志</a></dd>
                            <dd><a href="#">入库日志</a></dd>
                            <dd><a href="#">出库日志</a></dd>
                            <dd><a href="#">申请日志</a></dd>
                            <dd><a href="#">物品维护日志</a></dd>
                        </dl>-->
                    </li>
                    <li th:classappend="${page == 'tasks' ? 'active' : ''}" sec:authentication="ROLE_ADMIN">
                        <a href="#">管理</a>
                        <span class="arrow"></span>
                        <dl>
                            <dd><a href="#" th:href="@{/manage/examine}">审核</a></dd>
                            <dd><a href="#" th:href="@{/manage/outStorage}">出库</a></dd>
                            <dd><a href="#" th:href="@{/newMessage}">新建消息</a></dd>
                            <dd><a href="#" th:href="@{/manage/itemindate}">有效期管理</a></dd>
                            <dd><a href="#">库存管理</a></dd>
                            <dd><a href="#">统计信息</a></dd>
                        </dl>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="navBar-user">
            <ul class="nav">
                <!--<li th:if="${#authorization.expression('!isAuthenticated()')}"><a href="/login" th:href="@{/login}">Sign in</a></li>-->
                <!--<li th:if="${#authorization.expression('isAuthenticated()')}"><a href="/logout" th:href="@{/logout}">Logout</a></li>-->
                <li><!--/*@thymesVar id="user" type="com.repository.entity.UsersEntity"*/-->
                    <a href="#" th:if="${session.user!= null}" th:text="${session.user.usersName}">小明</a>
                </li>
                <li><a href="/logout" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>