<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.w3.org/2005/Atom">

<head>
    <meta charset="UTF-8"/>
    <title>登陆</title>
</head>

<body>
<div class="header">
    <div th:replace="templates/navBar :: navBar">
    </div>
</div>

<div class="content" tiles:fragment="content">
    <div class="login-background">
        <img src="../../../resources/picture/bg.jpeg" width="100%" height="100%"/>
    </div>

    <div class="login-title">
        欢迎，这里是仓库管理系统
    </div>

    <div class="login myInput">
        <form name='f' action='/signin' th:action="@{/signin}" method="post">
            <input class="text" type='text' name='username' value="" placeholder="请输入账号"/><br/>
            <input class="text" type='password' name='password' placeholder="请输入密码"/><br/>
            <!--<input class="button" type="button" value="统一登陆"-->
            <!--style="background-image: linear-gradient(#91dd70, #55ae2e);"/>-->
            <input class="button" type="submit" name="submit" value="登陆"/>
            <!--<tr><td><input type="checkbox" name="remember-me"/></td><td>Remember me on this computer.</td></tr>-->
        </form>
    </div>
</div>

<div class="footer">
    <div th:replace="footer :: footer">
    </div>
</div>
</body>
</html>