<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title tiles:fragment="title">登陆</title>

    <link href="../../../resources/css/loginPage.css" rel="stylesheet" type="text/css"/>
    <script src="../../../resources/js/main.js"></script>
</head>

<body>
<div tiles:fragment="content">
    <!--云团效果-->
    <script src="../../../resources/js/clouds/all.js"></script>

    <div class="login-title">
        欢迎，这里是仓库管理系统
    </div>

    <form class="login myInput" action='../query/list.html' method="post">
        <div class="name">
            <input type='text' name='username' placeholder="请输入账号"/>
            <div class="icon-after-user"></div>
        </div>
        <div class="password">
            <input type='password' name='password' placeholder="请输入密码"/>
            <div class="icon-after-lock"></div>
        </div>
        <input id="loginButton" type="button" name="submit" value="登陆"/>
    </form>
</div>

</body>
</html>