<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加物品</title>

    <link rel="stylesheet" type="text/css" href="../../myCSS/init.css">
    <link rel="stylesheet" type="text/css" href="../../myCSS/titleNav.css">
    <link rel="stylesheet" type="text/css" href="../../myCSS/myInput.css">
    <link rel="stylesheet" type="text/css" href="../../myCSS/myForm.css">
    <style type="text/css">
        #codeLi{
            display: none;
        }
    </style>
    <script src="../../myJavascript/setNavFontSize.js"></script>
    <script src="../../myJavascript/setVisible.js"></script>

</head>
<body>

<div class="title">
    <div class="title1">新建入库单></div>
    <div class="title2">添加物品></div>

</div>

<div class="myForm">
    <form action="setInfo.html">
        <ul>
            <li>
                <div class="name">类型：</div>
                <div class="value">
                    <label>
                        <input type="radio" name="isAType" value="1" checked onclick="setVisible(false)"/>
                        校内编码
                    </label>
                    <label>
                        <input type="radio" name="isAType" value="0"  onclick="setVisible(true)"/>
                        自带编码
                    </label>
                </div>
            </li>
            <li id="codeLi" >
                <label>
                <div class="name">条形码：</div>
                <div class="value myInput">
                    <label>
                        <input type="text" name="code"/>
                    </label>
                </div>
                </label>
            </li>
            <li>
                <div class="myInput">
                    <input type="submit" value="下一步"/>
                </div>
            </li>
        </ul>
    </form>
</div>

<div style="margin-top: 30em">
    <a href="getInfo.html">若仓库有此非A类</a>
</div>
</body>
</html>