<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.w3.org/2005/Atom">
<head>
    <meta charset="UTF-8"/>
    <title tiles:fragment="title">查询物品</title>
</head>
<body>
<div th:replace="header::header">
</div>
<div tiles:fragment="content" class="content">
    <div class="title">
    </div>
    <div class="myInput query">
        <!---->
        <!--/*@thymesVar id="queryItem" type="com.repository.web.query.QueryController"*/-->
        <!--/*@thymesVar id="do" type=""*/-->
        <form action="queryItem" th:action="@{/queryItem}" method="get">
            <label>
                物品条码：
                <input type="text" name="itemCode" th:name="itemCode" value=""/>
            </label>
            <label>
                物品名称：
                <input type="text" name="itemName" th:name="itemName" value=""/>
            </label>
            <label>
                物品类别：
                <select name="itemCategoryId">
                    <!--/*@thymesVar id="category" type="com.repository.entity.ItemCategoryEntity"*/-->
                    <option th:if="${session.categories == null || session.categories.empty}"
                            th:text="没有找到分类，请刷新重试" value=" "></option>
                    <option value=""
                            th:each="category : ${session.categories}"
                            th:value="${category.categoryId}"
                            th:text="${category.categoryName}">类别1
                    </option>
                </select>
            </label>
            <input type="submit" value="查询" />
        </form>
    </div>

    <div class="result">
        <table class="myTable" >
            <tr>
                <th>条码</th>
                <th>名称</th>
                <th>类别</th>
                <th>数量</th>
                <th>操作</th>
            </tr>
            <tr th:if="${items == null || items.empty}">
                <td colspan="5">No messages</td>
            </tr>
            <tr th:each="item : ${items} ">
                <!--/*@thymesVar id="item" type="com.repository.entity.ItemEntity"*/-->
                <td th:text="${item.itemCode}"></td>
                <td th:text="${item.itemName}"></td>
                <td th:text="${item.itemCategoryEntity.getCategoryName()}"></td>
                <td th:text="${item.itemCount}"></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>