<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--<property name="connection.url">jdbc:mysql://127.0.0.1:3306/wms?useUnicode=true&amp;serverTimezone=UTC&amp;characterEncoding=UTF-8</property>-->
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/wms</property>
        <property name="connection.password">123456</property>
        <property name="connection.username">root</property>
        <!--<property name="connection.pool_size">5</property>-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping class="com.repository.entity.ItemEntity"/>
        <mapping class="com.repository.entity.ItemApplicationEntity"/>
        <mapping class="com.repository.entity.ItemApplicationOperationEntity"/>
        <mapping class="com.repository.entity.ItemBorrowEntity"/>
        <mapping class="com.repository.entity.ItemBorrowOperationEntity"/>
        <mapping class="com.repository.entity.ItemCategoryEntity"/>
        <mapping class="com.repository.entity.ItemCompanyEntity"/>
        <mapping class="com.repository.entity.ItemInOperationEntity"/>
        <mapping class="com.repository.entity.ItemInStorageEntity"/>
        <mapping class="com.repository.entity.ItemOutOperationEntity"/>
        <mapping class="com.repository.entity.ItemOutStorageEntity"/>
        <mapping class="com.repository.entity.UmessageEntity"/>
        <mapping class="com.repository.entity.UsersEntity"/>
    </session-factory>
</hibernate-configuration>