<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>入库历史</title>

    <link rel="stylesheet" type="text/css" href="../../static/myCSS/titleNav.css">
    <link rel="stylesheet" type="text/css" href="../../static/myCSS/myDivBt.css">
    <link rel="stylesheet" type="text/css" href="../../static/myCSS/myTable.css">
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .result{
            width: 800px;
            margin: 20px auto;
        }
    </style>
</head>
<body>
<div class="title">
    <div class="title1">入库历史></div>
</div>

<div class="myDivBt">
    <a href="storageList.html">新建入库</a>
</div>

<div class="result">
    <table class="myTable" border="1">
        <tr>
            <th>入库单编号</th>
            <th>入库时间</th>
            <th>入库操作人员ID</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
</body>
</html>