<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>message</title>

    <link href="../../../resources/css/all.css" rel="stylesheet" type="text/css"/>
    <script src="../../../resources/js/main.js"></script>
</head>

<body>
<div class="content" tiles:fragment="content">
    <div class="content-left">
        <div class="listNav-title">
            <img src="../../../resources/picture/message.png"/>
            <span>消息中心</span>
        </div>
        <ul class="listNav">
            <!--<li><a href="#">新建</a></li>-->
            <li><a href="#" onclick="msg_findmsg()">通知</a></li>
            <li><a href="#" onclick="msg_findWarnMsg()">提醒</a></li>
            <li><a href="#">其他</a></li>
        </ul>
    </div>
    <div id="message" class="content-right">
        <div class="message-type">通知</div>
        <div class="message" id="">
            <span class="message-title"><strong>title</strong></span>
            <span class="message-date">data</span>
            <div class="message-content">content</div>
            <div class="message-operation">
                <span onclick="msg_hide('messageID')">不再显示</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>