<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>message</title>

    <link href="../../../resources/css/all.css" rel="stylesheet" type="text/css"/>
    <script src="../../../resources/js/main.js"></script>
</head>

<body>
<div class="content" tiles:fragment="content">
    <div class="content-left">
        <div class="listNav-title">
            <img src="../../../resources/picture/message.png"/>
            <span>消息中心</span>
        </div>
        <ul class="listNav">
            <li><a>新建</a></li>
            <li><a>通知</a></li>
            <li><a>提醒</a></li>
            <li><a>审核</a></li>
            <li><a>其他</a></li>
        </ul>
    </div>
    <div class="content-right">
        <div class="pop-bg">
            <div class="pop pop-details myInfoList myInput">
                <div class="pop-close">
                    <div class="close_button" onclick="closePop()">
                        <div class="close_button-icon"></div>
                    </div>
                </div>
                <form action="" method="get">
                    <ul>
                        <li>
                            <label>
                                <div class="name">
                                    消息ID：
                                </div>
                                <div class="value">
                                    <input type="text" name="messageID" readonly="readonly"/>
                                </div>
                            </label>
                        </li>
                        <li>
                            <label>
                                <div class="name">
                                    消息类型：
                                </div>
                                <div class="value">
                                    <input type="text" name="messageType" readonly="readonly"/>
                                </div>
                            </label>
                        </li>
                        <li>
                            <label>
                                <div class="name">
                                    消息内容：
                                </div>
                                <div class="value">
                                    <input type="text" name="messageContent" readonly="readonly"/>
                                </div>
                            </label>
                        </li>
                        <li>
                            <label>
                                <div class="name">
                                    消息日期：
                                </div>
                                <div class="value">
                                    <input type="text" name="messageData" readonly="readonly"/>
                                </div>
                            </label>
                        </li>
                        <li>
                            <label>
                                <div class="name">
                                    消息发送者对象ID：
                                </div>
                                <div class="value">
                                    <input type="text" name="messageSendID" readonly="readonly"/>
                                </div>
                            </label>
                        </li>
                        <li>
                            <label>
                                <div class="name">
                                    消息接收者对象ID：
                                </div>
                                <div class="value">
                                    <input type="text" name="messageReceiveID" readonly="readonly"/>
                                </div>
                            </label>
                        </li>
                        <li>
                            <label>
                                <div class="name">
                                    消息状态：
                                </div>
                                <div class="value">
                                    <input type="text" name="messageState" readonly="readonly"/>
                                </div>
                            </label>
                        </li>
                        <li>
                            <label>
                                <div class="name">
                                    消息标题：
                                </div>
                                <div class="value">
                                    <input type="text" name="messageTitle" readonly="readonly"/>
                                </div>
                            </label>
                        </li>
                        <li>
                            <input type="button" onclick="closePop()" value="删除"/>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="message" th:each="message:${messages}">
            <span class="message-name" th:text="${message.title}">name</span>
            <span class="message-date" th:text="${#calendars.format(message.created)}">data</span>
            <div class="message-content" th:text="${message.text}">content</div>
            <div class="message-operation" onclick="openPop()">详情</div>
        </div>
    </div>
</body>
</html>