<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>新建消息</title>

    <link href="../../../resources/css/all.css" rel="stylesheet" type="text/css"/>
    <script src="../../../resources/js/main.js"></script>
</head>
<body>
<div class="content" tiles:fragment="content">
    <div class="content-left">
        <div class="listNav-title">
            <img src="../../../resources/picture/message.png"/>
            <span>消息中心</span>
        </div>
        <ul class="listNav">
            <li><a>新建</a></li>
            <li><a>通知</a></li>
            <li><a>提醒</a></li>
            <li><a>审核</a></li>
            <li><a>其他</a></li>
        </ul>
    </div>
    <div class="content-right">
        <form id="newmessage" class="newMessage myInfoList myInput">
            <ul>
                <li></li>
                <li>
                    <label>
                        <div class="name">
                            收信人：
                        </div>
                        <div class="value">
                            <input type="text" name="receive_ID" style="width: 20em"/>
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div class="name">
                            标题：
                        </div>
                        <div class="value">
                            <input type="text" name="messageTitle" style="width: 20em"/>
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div class="name">
                            内容：
                        </div>
                        <div class="value">
                            <textarea name="messageContent"></textarea>
                        </div>
                    </label>
                </li>
                <li>
                    <div class="name"></div>
                    <div class="value" style="position: relative">
                        <input type="button" onclick="msg_send()" value="发送" style="position: absolute;left: 14em"/>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>
</body>
</html>