<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>审核</title>

    <link href="../../../resources/css/all.css" rel="stylesheet" type="text/css"/>

    <script src="../../../resources/js/jquery-3.1.1.js"></script>
    <script src="../../../resources/js/main.js"></script>
</head>
<body>

<div class="content" tiles:fragment="content">
    <header>
        <h2>审核</h2>
    </header>
    <section>
        <div class="content-result myTable">
            <table>
                <tr>
                    <th>申请单编号</th>
                    <th>申请人ID</th>
                    <th>申请日期</th>
                    <th>详情</th>
                </tr>
                <tr th:if="${history==null||history.isEmpty()}">
                    <td colspan="4">没有申请单信息</td>
                </tr>
                <tr th:each="itemApplicationOperation:${history}">
                    <!--/*@thymesVar id="itemApplicationOperation" type="com.repository.entity.ItemApplicationOperationEntity"*/-->
                    <td th:text="${itemApplicationOperation.applicationId}"></td>
                    <td th:text="${itemApplicationOperation.usersId}"></td>
                    <td th:text="${itemApplicationOperation.applicationTime}"></td>
                    <td class="myTable-operation" onclick="openPop()"
                        th:onclick="'getApplyFormByID(\''+${itemApplicationOperation.applicationId}+'\')'">
                        <div class="icon-search"></div>
                    </td>
                </tr>
            </table>
            <div class="pop-bg">
                <div class="pop myInfoList myInput" style="width: 50em">
                    <div class="pop-close">
                        <div class="close_button" onclick="closePop()">
                            <div class="close_button-icon"></div>
                        </div>
                    </div>
                    <section>
                        申请单编号:"<span id="applyFromID"></span>
                        申请人ID:<span id="usersId"></span>
                        申请日期:<span id="applyTime"></span>
                    </section>
                    <div>
                        <table id="applyFormTable" style="width: 50em">
                            <tr>
                                <td>物品条形码</td>
                                <td>申请数量</td>
                                <td>申请类型</td>
                                <td>申请备注</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="myTable-operation" onclick="">通过</td>
                                <td class="myTable-operation">不通过</td>
                                <td></td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>