<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>管理</title>

    <link href="../../../resources/css/all.css" rel="stylesheet" type="text/css"/>

    <script src="../../../resources/js/jquery-3.1.1.js"></script>
    <script src="../../../resources/js/main.js"></script>
</head>
<body>

<div class="content" tiles:fragment="content">
    <header>
        <h2>出库</h2>
    </header>
    <section>
        <div class="content-result myTable">
            <table>
                <tr>
                    <th>出库单编号</th>
                    <th>领取人ID</th>
                    <th>领取地址</th>
                    <th>详情</th>
                </tr>
                <tr th:if="${history==null||history.isEmpty()}">
                    <td colspan="4">没有申请单信息</td>
                </tr>
                <tr th:each="ItemOutOperation:${history}"
                    th:id="${ItemOutOperation.outId}">
                    <!--/*@thymesVar id="itemApplicationOperation" type="com.repository.entity.ItemOutOperationEntity"*/-->
                    <td th:text="${ItemOutOperation.outId}"></td>
                    <td th:text="${ItemOutOperation.usersId}"></td>
                    <td th:text="${ItemOutOperation.outAddress}"></td>
                    <td class="myTable-operation" onclick="openPop()"
                        th:onclick="'getOutOperationByID(\''+${ItemOutOperation.outId}+'\')'">
                        <div class="icon-search"></div>
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <div class="pop-bg">
        <div class="pop myTable" style="top: 5em;width: 45em;padding: 5em;height: 30em;">
            <div class="pop-close">
                <div class="close_button" onclick="closePop()">
                    <div class="close_button-icon"></div>
                </div>
            </div>
            <section style="text-align: center">
                <label style="float: left">出库单编号:"<span id="out_id"></span></label>
                <label>领取人ID:<span id="users_id"></span></label>
                <label style="float: right">领取地址:<span id="out_address"></span></label>
            </section>
            <section>
                <table>
                    <tr>
                        <th>物品条形码</th>
                        <th>出库数量</th>
                        <!--<th>详情</th>-->
                    </tr>
                </table>
            </section>
            <section style="height: 27em;overflow-x:hidden;overflow-y: scroll;width: 46em">
                <table id="out_table">
                    <tbody></tbody>
                </table>
            </section>
            <section>
                <table>
                    <tr>
                        <td></td>
                        <td>
                            <button>确定</button>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </section>
        </div>
    </div>
</div>

</body>
</html>