<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title tiles:replace="title">模板</title>

    <link href="../../static/css/all.css" rel="stylesheet" type="text/css"
          th:href="@{/resources/css/all.css}"/>

    <script src="../../static/js/jquery-3.1.1.js"
            th:src="@{/resources/js/jquery-3.1.1.js}"></script>
    <script src="../../static/js/main.js"
            th:src="@{/resources/js/main.js}"></script>
    <script src="../../static/js/pageSwitch.js"
            th:src="@{/resources/js/pageSwitch.js}"></script>
</head>

<body>

<!--<div class="background"></div>-->

<div id="load" class="load">
    <img id="loadGif" src="../../static/picture/loading.gif"/>
</div>

<div id="header">
    <div th:replace="fragments/header :: header"></div>
</div>

<div id="currentPage" class="current">
    <div tiles:replace="content"></div>
</div>

<div id="nextPage" class="next"></div>

<div id="footer">
    <div th:replace="fragments/footer :: footer">
    </div>
</div>

<div id="back_top"></div>

</body>
</html>