<!DOCTYPE html>
<html lang="en" xmlns:tiles="http://www.w3.org/2005/Atom">
<head>
    <meta charset="UTF-8"/>
    <title tiles:fragment="title">添加物品</title>


</head>
<body>
<div class="content" tiles:fragment="content">

    <div class="title">
        <div class="title1">新建入库单></div>
        <div class="title2">添加物品></div>

    </div>

    <div class="myForm">
        <form action="setInfo.html" th:action="@{/storage/add/set_item_info}">
            <ul>
                <li>
                    <div class="name">类型：</div>
                    <div class="value">
                        <label>
                            <input type="radio" name="isAType" value="1" checked="checked"
                                   onclick="setVisible(false)"/>
                            校内编码
                        </label>
                        <label>
                            <input type="radio" name="isAType" value="0"
                                   onclick="setVisible(true)"/>
                            自带编码
                        </label>
                    </div>
                </li>
                <li id="codeLi" style="display: none;">
                    <label>
                        <div class="name">条形码：</div>
                        <div class="value myInput">
                            <label>
                                <input type="text" name="itemCode"/>
                            </label>
                        </div>
                    </label>
                </li>
                <li>
                    <div class="myInput">
                        <input type="submit" value="下一步"/>
                    </div>
                </li>
            </ul>
        </form>
    </div>

    <div style="margin-top: 30em">
        <a href="getInfo.html">若仓库有此非A类</a>

    </div>
</div>
</body>
</html>