<!DOCTYPE html>
<html xmlns:tiles="http://www.w3.org/2005/Atom"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title tiles:fragment="title">物品信息</title>

    <link href="../../../../resources/css/all.css" rel="stylesheet" type="text/css"/>
    <script src="../../../../resources/js/main.js"></script>
</head>

<body>

<div class="content" tiles:fragment="content">

    <div class="title">
        <div class="title1">新建入库单></div>
        <div class="title2">添加物品></div>
        <div class="title3">详细信息></div>
    </div>
    <!--/*@thymesVar id="item" type="com.repository.entity.ItemEntity"*/-->
    <div class="info myForm myInput">
        <form action="/storage/add/additem" method="post">
            <ul>
                <input type="hidden" name="itemCode" th:value="${item.itemCode}"/>


                <li>
                    <label>
                        <div class="name">
                            物品名称：
                        </div>
                        <div class="value">
                            <input type="text" name="item_name" th:value="${item.itemName}"
                                   value="XXX" readonly="readonly"/>
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div class="name">
                            物品类别：
                        </div>
                        <div class="value">
                            <input type="text" name="item_name" th:value="${item.itemSpec}"
                                   value="XXX" readonly="readonly"/>
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div class="name">
                            物品类别：
                        </div>
                        <div class="value">
                            <input type="text" name="item_name"
                                   th:value="${item.itemCategoryEntity.categoryName}" value="XXX"
                                   readonly="readonly"/>
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div class="name">
                            物品规格：
                        </div>
                        <div class="value">
                            <input type="text" th:value="${item.itemSpec}" name="item_name"
                                   readonly="readonly"/>
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div class="name">
                            物品单价：
                        </div>
                        <div class="value">
                            <input type="text" th:value="${item.itemPrice}" name="item_name"
                                   readonly="readonly"/>
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div class="name">
                            生产厂商：
                        </div>
                        <div class="value">
                            <input type="text" th:value="${item.itemCompanyEntity.getCompanyName()}"
                                   name="item_name"
                                   readonly="readonly"/>
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div class="name">
                            厂商联系方式：
                        </div>
                        <div class="value">
                            <input type="text" th:value="${item.itemCompanyEntity.companyPhone}"
                                   name="item_name"
                                   readonly="readonly"/>
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div class="name">
                            添加数量：
                        </div>
                        <div class="value">
                            <input type="number" name="itemCount"/>
                        </div>
                    </label>
                </li>

                <li>
                    <div style="line-height: 5em">
                        <input class="submitBt" type="submit" value="增加物品"/>
                    </div>
                </li>

            </ul>
        </form>
    </div>
</div>

</body>
</html>