<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.w3.org/2005/Atom">
<head>
    <meta charset="UTF-8"/>
    <title>getInfo</title>


</head>
<body>

<div tiles:fragment="content">

    <div class="title">
        <div class="title1">新建入库单></div>
        <div class="title2">添加物品></div>
        <div class="title3">详细信息></div>
    </div>
    <!--/*@thymesVar id="item" type="com.repository.entity.ItemEntity"*/-->
    <div class="myForm myInput">
        <form action="../storageList.html">
            <ul>
                <li>
                    物品信息

                    <input type="hidden" name="item_code" th:value="${item.itemCode}" value="321321"/>
                </li>
                <li>
                    <label>
                        <div class="name">
                            物品名称：
                        </div>
                        <div class="value">
                            <input type="text" name="item_name" th:value="${item.itemName}" value="XXX" disabled="disabled"/>
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div class="name">
                            物品类别：
                        </div>
                        <div class="value">
                            <input type="text" name="item_name" th:value="${item.itemCategoryEntity.categoryName}" value="XXX" disabled="disabled"/>
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div class="name">
                            物品规格：
                        </div>
                        <div class="value">
                            <input type="text" th:value="${item.itemSpec}" name="item_name" disabled="disabled"/>
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div class="name">
                            物品单价：
                        </div>
                        <div class="value">
                            <input type="text" th:value="${item.itemPrice}" name="item_name" disabled="disabled"/>
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div class="name">
                            生成厂商：
                        </div>
                        <div class="value">
                            <input type="text" th:value="${item.itemCompanyEntity.getCompanyName()}" name="item_name" disabled="disabled"/>
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div class="name">
                            生产厂商联系方式：
                        </div>
                        <div class="value">
                            <input type="text" th:value="${item.itemCompanyEntity.companyPhone}" name="item_name" disabled="disabled"/>
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div class="name">
                            添加数量：
                        </div>
                        <div class="value">
                            <input type="text" name="item_name"/>
                        </div>
                    </label>
                </li>

                <li>
                    <div style="line-height: 5em">
                        <input class="submitBt" type="submit" value="提交信息"/>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>
</body>
</html>