<!DOCTYPE html>
<html xmlns:tiles="http://www.w3.org/2005/Atom"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title tiles:fragment="title">setInfo</title>

    <link href="../../../../resources/css/all.css" rel="stylesheet" type="text/css"/>
    <script src="../../../../resources/js/main.js"></script>
</head>
<body>

<div tiles:fragment="content" class="content">

    <div class="title">
        <div class="title1">新建入库单></div>
        <div class="title2">添加物品></div>
        <div class="title3">详细信息></div>
    </div>

    <div class="myForm myInput">
        <!--/*@thymesVar id="itemForm" type="com.repository.web.storage.AddStorageForm.ItemForm"*/-->
        <form th:action="@{additem}" method="post">
            <ul>
                <li>
                    <label>
                        <div class="name">
                            物品类别：
                        </div>
                        <input type="hidden" name="isInschool" value="1"/>
                        <select name="itemCategoryId">
                            <!--/*@thymesVar id="category" type="com.repository.entity.ItemCategoryEntity"*/-->
                            <option th:if="${session.categories == null || session.categories.empty}"
                                    th:text="没有找到分类,请刷新重试" value=" "></option>
                            <option value=""
                                    th:each="category : ${session.categories}"
                                    th:value="${category.categoryId}"
                                    th:text="${category.categoryName}">类别1
                            </option>
                        </select>
                    </label>
                </li>
                <li>
                    <label>
                        <div class="name">
                            物品名称：
                        </div>
                        <div class="value">
                            <input type="text" name="itemName" value=""/>
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div class="name">
                            添加数量：
                        </div>
                        <div class="value">
                            <input type="number" name="count"/>
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div class="name">
                            物品规格：
                        </div>
                        <div class="value">
                            <input type="text" name="itemSpec"/>
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div class="name">
                            物品单价：
                        </div>
                        <div class="value">
                            <input type="text" name="price"/>
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div class="name">
                            发票代码：
                        </div>
                        <div class="value">
                            <input type="text" name="price"/>
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div class="name">
                            生成厂商：
                        </div>
                        <div class="value">
                            <input type="text" name="company"/>
                        </div>
                    </label>
                </li>
                <li>
                    <label>
                        <div class="name">
                            生产厂商联系方式：
                        </div>
                        <div class="value">
                            <input type="text" name="companyPhone"/>
                        </div>
                    </label>
                </li>

                <li>
                    <div>
                        <input class="submitBt" type="submit" value="提交信息"/>
                    </div>
                </li>
            </ul>
        </form>
    </div>

</div>

</body>
</html>