<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title tiles:fragment="title">新建入库单</title>


</head>
<body>
<div tiles:fragment="content" class="content">

    <div class="title">
        <div class="title1">新建入库单></div>
    </div>

    <div>
        入库单编号：XXX
    </div>

    <div class="myDivBt">
        <a href="add/add.html" th:href="@{/storage/add/additem}" th:method="get">添加物品</a>
    </div>

    <div class="result">
        <table class="myTable" border="1">
            <tr>
                <th>物品条形码</th>
                <th>入库数量</th>
                <th>入库价格</th>
                <th>发票代码</th>
                <th>详情</th>
            </tr>
            <tr th:if="${session.storageForm.itemForms.isEmpty() }">
            <tr th:cols="5">入库单中没有物品，请添加</tr>
            </tr>
            <tr th:if="${session.storageForm !=null }"
                th:each="itemForm : ${session.storageForm.itemForms}">
                <td th:text="${itemForm.itemCode}"></td>
                <td th:text="${itemForm.itemCount}"></td>
                <td th:text="${itemForm.itemPrice}"></td>
                <td th:text="${itemForm.billCode}"></td>
                <td>详情</td>
            </tr>
        </table>
        <div>
            <div class="myDivBt">
                <button type="button" onclick="function One() {
              alert('系统正忙，请稍后重试');
            }">提交
                </button>
            </div>
            <div class="myDivBt"><a href="../history.html">取消</a></div>
        </div>
    </div>

</div>
</body>
</html>