/*右移*/
.move-to-right-contentStart {
    opacity: 1;
}

.move-to-right-nextStart {
    left: -100em;
}

.move-to-right-currentEnd, .move-to-right-nextEnd {
    transition: all;
}

.move-to-right-currentEnd {
    opacity: 0.5;
    z-index: -2;
}

.move-to-right-nextEnd {
    z-index: 100;
    left: 0;
}

/*左移*/
.move-to-left-contentStart {
    opacity: 1;
}

.move-to-left-nextStart {
    right: -100em;
}

.move-to-left-currentEnd, .move-to-left-nextEnd {
    transition: all;
}

.move-to-left-currentEnd {
    opacity: 0.5;
    z-index: -2;
}

.move-to-left-nextEnd {
    z-index: 100;
    right: 0;
}