.listNav-title {
    /*margin-top: 0.5em;*/
    font-size: 2em;
    height: 4em;
    line-height: 4em;
    text-align: center;
}
.listNav-title img{
    position: relative;
    top:0.2em;
}

ul.listNav {
    text-align: center;
    list-style: none;
    font-size: 1.5em;
}

.listNav a {
    padding: 0.5em;
    text-decoration: none;
}

.listNav li {
    display: block;
    height: 2em;
    line-height: 2em;
    margin: 0.5em 0;
    transition: background 0.3s;
}

.listNav li:hover{
    color: #f1f1f1;
    background: #1abc9c;
}
.listNav li:hover>a{
    color: #f1f1f1;
}

.listNav2 {
    position: relative;
    z-index: -1;
    opacity: 0;
    left: 6em;
    top: 0;
    padding: 0.5em 0.5em;
    width: 6em;
    /*border: 0.1em solid #1abc9c;*/
    border-radius: 0.5em;
    background: #f5f5f5;
    transition: all 0.3s ease-out;
}

.listNav li:hover > .listNav2 {
    z-index: 100;
    opacity: 1;
    top: -2em;
}

.message {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 8em;
    margin: 1em auto;
    padding: 1em 1em;
    border-radius: 0.5em;
    border: 0.2em solid rgba(26, 188, 156, 0.49);
    background: #ffffff;
    overflow: hidden;
    transition: box-shadow 0.3s;
}
.no-message{
    height: 20em;
    padding: 5em;
    text-align: center;
}
.message:hover{
    box-shadow: 0 0.3em 1em -0em rgba(0, 0, 0, 0.51);
}

.message-type {
    font-size: 1.5em;
    box-sizing: border-box;
    width: 100%;
    height: 3em;
    line-height: 2.6em;
    padding: 0 1em;
    border: 0.2em solid rgba(26, 188, 156, 0.49);
    background: #ffffff;
}

.message-title, .message-date {
    font-size: 1.2em;
    margin: 1em;
}

.message-date {
    color: #8e8e8e;
}

.message-content {
    box-sizing: border-box;
    padding: 1em;
    width: 40em;
    /*文字换行*/
    white-space: normal;
    word-break: break-all;
    overflow: hidden;
}

.message-operation {
    position: absolute;
    float: right;
    bottom: 1em;
    right: 1em;
}

