.myDivBt{
    float: right;
    height: 2.5em;
    background: #1abc9c;
    text-align: center;
    line-height: 2.5em;
    border-radius: 0.25em;
    transition: background 0.3s;
}
.myDivBt:hover{
    background: #2fe2bf;
}
.myDivBt a{
    padding: 0 2em;
    color: white;
    text-decoration: none;
}