.myInfoList li {
    min-height: 4em;
    width: 30em;
    list-style: none;
    line-height: 4em;
    text-align: center;
}

.myInfoList .name {
    float: left;
    min-height: inherit;
    width: 10em;
    line-height: inherit;
    text-align: right;
}

.myInfoList .value {
    float: left;
    min-height: inherit;
    width: 12em;
    line-height: inherit;
    margin-left: 3em;
    text-align: left;
}