/*继承行高*/
[class^='navBar'] {
    height: inherit;
    line-height: inherit;
}

/*初始值*/
/*todo*/
.navBar {
    height: 4em;
    line-height: 4em;
    background: #212121;
}

/*初始颜色 与 过渡时间*/
.navBar li, .navBar a {
    color: #d4d4d4;
    transition: color 0.3s ease-in;
}

/*悬浮颜色*/
.navBar li:hover, li:hover > a {
    color: #19ac7f;
}

.navBar li:hover .arrow {
    border-top-color: #19ac7f;
    transform: rotate(180deg);
}

.navBar a {
    line-height: inherit;
    padding: 1.2em;
    text-decoration: none;
}

.navBar-title a {
    font-size: 1.5em;
}

.navBar-content a {
    font-size: 1em;
}

.navBar-user a {
    padding-left: 0.5em;
    padding-right: 1.5em;
}

@media (max-width: 767px) {
    .navBar-container {
        min-width: 700px;
    }
}

@media (min-width: 768px) {
    .navBar-container {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .navBar-container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .navBar-container {
        max-width: 1170px;
    }
}

.navBar-container {
    padding: 0 1em;
    margin: auto;
}

.navBar-title {
    float: left;
}

.navBar-content {
    float: left;
}

.navBar-user {
    float: right;
}

.nav {
    list-style: none;
}

.nav > li {
    position: relative;
    display: inline-block;
}

/*倒三角*/
.arrow {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    /*设置形状*/
    width: 0;
    height: 0;
    border: 0.5em solid rgba(0, 0, 0, 0);
    border-top: 0.87em solid #7d7d7d;
    transform-origin: 0.5em 0.3em;

    transition: all 0.5s;
}

/*下拉列表*/
.navBar li > dl {
    position: absolute;
    top: 4em;
    left: -2em;
    right: -2em;

    padding: 0 ;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8);
    background: #212121;
    overflow: hidden;
    transition: all 0.5s;

    max-height: 0;
}

.navBar li:hover dl {
    max-height: 16em;
    padding: 1em 0;
}

.navBar dd {
    height: 2.5em;
    line-height: 2.5em;
}

.navBar dd > a {
    line-height: inherit;
    font-size: 0.9em;
    padding-left: 1em;
    transition: all 0.3s;
}

.navBar dd:hover > a {
    color: #19ac7f;
    padding-left: 1.5em;
}
