<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<meta http-equiv="refresh" content="5">-->
    <title>欢迎，这里是仓库管理系统</title>
    <link rel="stylesheet" type="text/css" href="/myCSS/mainPage.css" >
</head>

<body>

<!--<div style="position:absolute;z-index:-1;width:100%;height:100%;">-->
    <!--<img src="picture/bg.jpeg" width="100%" height="100%"/>-->
<!--</div>-->

<div class="top">
    <div class="center">
        <div class="title">
            仓库管理系统
        </div>
        <div class="user">
            <div class="name"><a>用户：XXX</a></div>
            <div class="out"><a href="login.html">退出</a></div>
        </div>
    </div>
</div>

<nav>
    <ul>
        <li><a href="query/query.html" target="frame">查询</a></li>
        <li><a href="storage/history.html" target="frame">入库</a></li>
        <li><a href="apply/history.html" target="frame">申请</a></li>
        <li><a href="borrow/history.html" target="frame">借用</a></li>
        <li>
            <span class="dArrow"></span>
            <a href="log/log.html" target="frame">日志</a>
            <dl>
                <dd><a href="#">111</a></dd>
                <dd><a href="#">222</a></dd>
                <dd><a href="#">333</a></dd>
                <dd><a href="#">444</a></dd>
            </dl>
        </li>
        <li>
            <span class="dArrow"></span>
            <a href="message/message.html" target="frame">消息</a>
            <dl>
                <!--<dt><span class="arrow"></span></dt>-->
                <dd><a href="#">待审核消息</a></dd>
                <dd><a href="#">通知领取消息</a></dd>
                <dd><a href="#">分配消息</a></dd>
                <dd><a href="#">归还提醒消息</a></dd>
                <dd><a href="#">库存提醒消息</a></dd>
            </dl>
        </li>
    </ul>
</nav>


<div class="content">
    <iframe class="frame" name="frame" src="query/query.html"></iframe>
</div>

<div class="bottom">
</div>

</body>
</html>
