<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>申请历史</title>

    <link rel="stylesheet" type="text/css" href="../../static/myCSS/titleNav.css">
    <link rel="stylesheet" type="text/css" href="../../static/myCSS/myDivBt.css">
    <link rel="stylesheet" type="text/css" href="../../static/myCSS/myTable.css">
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .result{
            width: 800px;
            margin: 20px auto;
        }
    </style>
</head>
<body>
<div class="title">
    <div class="title1">申请历史></div>

</div>

<div class="myDivBt">
    <a href="applyList.html">新建申请</a>
</div>

<div class="result">
    <table class="myTable" border="1">
        <tr>
            <th>申请单编号</th>
            <th>申请日期</th>
            <th>审核人员编号</th>
            <th>审核状态</th>
            <th>审核日期</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
</body>
</html>