<!DOCTYPE html>
<html xmlns:tiles="http://www.w3.org/2005/Atom"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title th:fragment="title">入库历史</title>

    <link href="../../../resources/css/all.css" rel="stylesheet" type="text/css"/>
    <script src="../../../resources/js/main.js"></script>
</head>

<body>

<div tiles:fragment="content" class="content">
    <div class="titleNav">
        <div class="title_nav title_nav_Now"><a>入库历史</a></div>
    </div>

    <div class="myDivBt">
        <a href="add/storage_form.html" th:href="@{/storage/add/}">新建入库</a>
    </div>

    <div class="result">
        <table class="myTable">
            <tr>
                <th>入库单编号</th>
                <th>入库时间</th>
                <th>入库操作人员ID</th>
            </tr>
            <tr th:if="${history == null || history.empty}">
                <td colspan="3">没有入库历史</td>
            </tr>
            <!--/*@thymesVar id="history" type="java.util.List"*/-->
            <tr th:each="itemInOperation : ${history} ">
                <!--/*@thymesVar id="itemInOperation" type="com.repository.entity.ItemInOperationEntity"*/-->
                <td th:text="${itemInOperation.storageId}"></td>
                <td th:text="${#dates.format(itemInOperation.storageTime,'yyyy-MM-dd')}"></td>
                <td th:text="${itemInOperation.operationId}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>