<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>新建入库单</title>


</head>
<body>
<div tiles:fragment="content" class="content">

    <div class="title">
        <div class="title1">新建入库单></div>
    </div>

    <div>
        入库单编号：XXX
    </div>

    <div class="myDivBt" >
        <a href="add/add.html" th:href="@{/storage/add/add_item}">添加物品</a>
    </div>

    <div class="result">
        <table class="myTable" border="1">
            <tr>
                <th>物品条形码</th>
                <th>入库数量</th>
                <th>入库价格</th>
                <th>发票代码</th>
                <th>详情</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div>
            <div class="myDivBt"><a href="history.html">提交</a></div>
            <div class="myDivBt"><a href="history.html">取消</a></div>
        </div>
    </div>

</div>
</body>
</html>