<!DOCTYPE html>
<html xmlns:tiles="http://www.w3.org/2005/Atom" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <title tiles:replace="title">Title</title>

    <link rel="stylesheet" type="text/css" href="../../../resources/css/all.css"
          th:href="@{/resources/css/all.css}"/>
    <script src="../../../resources/js/main.js.js"
            th:src="@{/resources/js/main.js}">
    </script>

</head>
<body>
<div>

    <div class="header">
        <div th:replace="templates/navBar :: navBar">
        </div>
    </div>

    <div class="body">
        <div tiles:replace="content">
        </div>
    </div>

    <div class="footer">
        <div th:replace="templates/footer :: footer">
        </div>
    </div>

</div>
</body>
</html>