<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title tiles:replace="title">Title</title>

    <link href="../../../resources/css/all.css" rel="stylesheet" type="text/css"
          th:href="@{/resources/css/all.css}"/>
    <script src="../../../resources/js/main.js"
            th:src="@{/resources/js/main.js}">
    </script>
    <script src="../../../resources/js/jquery-3.1.1.js"
            th:src="@{/resources/js/jquery-3.1.1.js}"></script>
</head>

<body>

<div>
    <div class="header">
        <div th:replace="templates/navBar :: navBar">
        </div>
    </div>

    <div class="body">
        <div tiles:replace="content">
        </div>
    </div>

    <div class="footer">
        <div th:replace="templates/footer :: footer">
        </div>
    </div>
</div>

</body>
</html>