<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>message</title>

    <link href="../../static/css/all.css" rel="stylesheet" type="text/css"/>
    <script src="../../static/js/main.js"></script>
</head>

<body>
<div class="content" tiles:fragment="content" >
    <div style="width: 100%;position: relative">

        <div class="content-left">
            <div class="listNav-title icon-paper-plane">
                <!--<img src="../../../resources/picture/message.png"/>-->
                <span>消息中心</span>
            </div>
            <ul class="listNav">
                <!--<li><a href="#">新建</a></li>-->
                <li><a href="#inform" onclick="msg_findTypeOf('inform')">通知</a></li>
                <li><a href="#remind" onclick="msg_findTypeOf('remind')">提醒</a></li>
                <li><a href="#other" onclick="msg_findTypeOf('other')">其他</a></li>
            </ul>
        </div>
        <div id="message" class="content-right">
            <div class="message-type">通知</div>

            <div class="message effect4" id="">
                <span class="message-title"><strong></strong></span>
                <span class="message-date"></span>
                <div class="message-content">没有消息</div>
                <div class="message-operation">
                    <span onclick="msg_hide('messageID')"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>