@import "init.css";
@import "layout.css";
@import "navBar.css";
@import "myInput.css";

.myInput input[type="button"] {
    color: white;
}
.myInput input[type="text"],input[type="password"]{
    width: 20em;
    background: #ffffff;
}


body {
    min-width: 65em;
    min-height: 36em;
}

.login-background {
    position: absolute;
    z-index: -1;
    width: 100%;
    min-width: 65em;
    height: 100%;
    min-height: 36em;
}

.login-title{
    position: absolute;
    font-size: 3em;
    top: 2em;
}

div.login {
    position: absolute;
    top: 20em;
    right: 20em;

    width: 23em;
    height: 16em;
    line-height: 4em;
    text-align: center;
}
