body {
    background: #e0e0e0;
}

.top {
    height: 6em;
    width: 100%;
    min-width: 70em;
    margin: auto;
    background-color: rgb(80, 80, 80);
    border-bottom: 0.5em solid aqua;
}

.top .center {
    width: 70em;
    margin: auto;
}

.top .title {
    font-size: 3em;
    float: left;
    width: 6em;
    margin-left: 0.5em;
    line-height: 2em;
    color: floralwhite;

}

.top .user {
    font-size: 2em;
    float: right;
    margin-top: 1em;
}

.top .name,.out {
    line-height: 2em;
    float: left;
}

.top .out:hover {
    background: #727272;
}

.top .user a {
    padding: 0 1em;
    text-decoration: none;
    color: black;
}

nav {
    width: 100%;
    min-width: 70em;
    height: 4em;
    background: #9c9c9c;
}

nav ul {
    width: 30em;
    margin: auto;
    font-size: 0;
}
nav li {
    display: inline-block;
    position: relative;
    height: 2em;
    padding: 1em 0;
}
nav li:hover {
    background: #a9a9a9;
}
nav li>a{
    font-size: 1.5em;
    padding: 0 2em;
    border-right: 0.07em solid black;
    color: #343434;
    text-decoration: none;
}

nav .dArrow{
    display: block;
    position: absolute;
    right: 10px;
    top: 23px;
    border: 6px solid rgba(0, 0, 0, 0);
    border-top: 10px solid #000000;
    width: 0;
    height: 0;
    transform-origin: 6px 4px;
    transition: all 0.5s;
}
nav li:hover .dArrow{
    transform: rotate(180deg);
}
nav li:hover dl{
    max-height: 20em;
    padding: 1em 0.5em;
}
nav dl{
    position: absolute;
    top: 4em;
    left: -3em;
    right: -3em;
    max-height: 0;
    padding: 0 0.5em;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.3em black;
    background: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    transition: all 0.5s ;
}
nav dd{
    position: relative;
    width: 100%;
    height: 3em;
    border-radius: 0.5em;
    line-height: 3em;
    text-align: center;
    transition: background 0.5s ease-in;
}
nav dd:hover{
    background: #6f6f6f;
}
nav dd a{
    text-decoration: none;
    color: #d8d8d8;
}

.content {
    width: 70em;
    height: 45em;
    margin: auto;
    background-color: rgba(231, 231, 231, 0.91);
}

.frame {
    width: 100%;
    height: 100%;
    border: 0;
}

.bottom {
    width: 100%;
    min-width: 70em;
    height: 4em;
    background: rgb(80, 80, 80);
}