.myInput input[type="text"], input[type="password"] {
    font-size: 1em;
    width: 10em;
    height: 2.2em;
    padding: 0 1em;
    border: 0.1em solid gray;
    background: #d4d4d4;
    border-radius: 0.5em;
    outline: 0;
}

.myInput input[type="submit"], input[type="button"] {
    font-size: 1em;
    width: 10em;
    height: 2.2em;
    border: 0.1em solid #a8a8a8;
    border-radius: 0.5em;
    outline: 0;
}

.myInput select {
    font-size: 1em;
    height: 2.2em;
    width: 10em;
    border: 0.1em solid gray;
    background: #d4d4d4;
    border-radius: 0.5em;
    outline: 0;
}

.myInput select:hover {
    background: #e9e9e9;
}

.myInput input[type="text"]:hover {
    background: #e9e9e9;
}

.myInput input[type="button"]:hover {
    background: #f6f6f6;
}

.myInput input[type="submit"]:hover {
    background: #eeeeee;
}

.myInput .disabled input {
    background: #bbbbbb;
}

.myInput .disabled input:hover {
    background: #bbbbbb;
}

